<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Calorie Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<header class="bg-white shadow fixed w-full top-0 left-0 z-50">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href="/" class="text-2xl font-bold text-blue-600">CalorieTracker</a>

    <nav class="flex space-x-6 text-lg">
      <% if user_signed_in? %>
        <%= link_to "Dashboard", dashboard_path, class: "text-gray-700 hover:text-blue-600" %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "text-gray-700 hover:text-red-600 bg-white border px-3 py-1 rounded shadow" %>

      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "text-gray-700 hover:text-blue-600" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "text-gray-700 hover:text-green-600" %>
      <% end %>
    </nav>
  </div>
</header>

<div class="h-20"></div>
    <main class="container mx-auto px-5">
      <%= yield %>
    </main>
  </body>
</html>
